<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="upc.edu.pe.persistence.ClienteMapper">
    
    <resultMap id="rObtener" type="Cliente">
        <result property="id_cliente"           column="Id_cliente" />
        <result property="nombre"               column="Nombre" />
        <result property="apellidos"            column="Apellidos" />
        <result property="telefono"             column="Telefono" />
        <result property="distrito.id_distrito" column="Id_distrito" />
        <result property="usuario"              column="Usuario" />
        <result property="contrasena"           column="Contrasena" />
        <result property="direccion"            column="Direccion" />
        <result property="correo"               column="Correo" />        
    </resultMap>
   
    
    <select id="obtener" statementType="CALLABLE" parameterType="java.lang.Integer" resultMap="rObtener">
        { call sp_cliente_obtener(#{pIdCliente, jdbcType=SMALLINT}) }
    </select>
    
    <select id="autenticar" statementType="CALLABLE" parameterType="Cliente" resultMap="rObtener">
        { call sp_cliente_login(#{usuario}, #{contrasena}) }
    </select>
    
    <insert id="insertar" statementType="CALLABLE" parameterType="Cliente">
        { call sp_cliente_insertar(#{nombre}, #{apellidos}, #{usuario}, #{contrasena}, #{correo}, #{distrito.id_distrito}) }
    </insert>
    
    <update id="actualizar" statementType="CALLABLE" parameterType="Cliente">
        { call sp_cliente_actualizar(#{id_cliente}, #{nombre}, #{apellidos}, #{telefono}, #{distrito.id_distrito}, #{usuario}, #{contrasena}, #{direccion}, #{correo}, #{codigoGCM} )}
    </update>     
       
</mapper>