<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="upc.edu.pe.persistence.ProductoMapper">
    
    <resultMap id="rListar" type="Producto">
        <result property="id_producto"          column="Id_producto" />
        <result property="nombre"               column="Nombre" />
        <result property="descripcion"          column="Descripcion" />
        <result property="precio"               column="Precio" />
        <result property="familia.id_familia"   column="Id_familia" />
        <result property="familia.descripcion"  column="Descripcion" />
        <result property="imagen"               column="Imagen" />
    </resultMap>
       
    <select id="listar" statementType="CALLABLE"  resultMap="rListar">
        { call sp_producto_listar() }
    </select>
    
</mapper>